* {  
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

h1 {
  font-size: 8rem;
  color: rgb(249, 234, 228);
  font-family: 'Bodoni 16';
  padding-left: 50pt;
  padding-top: 250pt;
}

h2 {
  color:rgb(249, 234, 228);
  font-size: 2.8 rem;
  padding-left: 50pt;
  font-family: 'Jost';
}

h3 {
  color: rgb(109, 168, 201);
  /* font-style: oblique; */
  font-family: 'Jost';
  font-size: 3.5rem;
  padding: 35px;
  /* padding-bottom: 20px; */
}

h4 {
  font-size: 6rem;
  color: rgb(218, 173, 158);
  font-family: 'Bodoni 16';
}

a {
  text-decoration: none;
  color: rgb(218, 173, 158);;
}

.fit-picture {
  width: 250px;
}

  #navbar {
    display: flex;
    justify-content: flex-end;
    background-color:rgb(227, 244, 255);
    position: fixed;
    width: 100%;
  }

  .nav-list {
    display: flex;
    list-style-type: none;
    margin-right: 2rem;
  }

  .nav-list a {
    display: block;
    font-size: 2rem;
    padding: 2rem;
    color: rgb(109, 168, 201);
    text-decoration: none;
  }

  .nav-list a:hover {
    background: white;
  }
  
  #welcome-section {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /*align-items: left; */
    height: 125vh;
    top: 0;
    left: 0;
    background-color: rgb(218, 173, 158);
    }

    .image-hannah {
      width: 300px;
      background image: url(/images/Hannah.JPG);
      background-size: 100%;
      display: flex;
      flex-direction: row;
      /* padding: 15rem 15rem 10rem 75rem; */
    }

  .projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background-color: rgb(227, 244, 255);
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 125vh;
    padding: 0 2rem;
    background: var(--main-gray);
  }

  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }

  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 1px 1px 1px #8b8b8b;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }
  
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
  figure img {
    width: 20rem;
  }