* {
    margin: 0;
    box-sizing: border-box;
}

.mainHeader {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
    background-color: darkred;
    padding: 15px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

figure img {
    max-height: 12rem;
}

figcaption {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
    color: white;
}

body {
    background-color: darkblue;
}

button {
    color: darkblue;
    outline: white;
}